# Node / Next
node_modules/
.next/
out/
dist/
*.log
npm-debug.log*
yarn-*.log
.pnpm-store/
.turbo/
.eslintcache
.cache
.DS_Store

# Firebase
.firebase/
functions/node_modules/
firebase-debug.log

# Hosting-platforme
.vercel/
.netlify/

# Env
.env
.env.*
!.env.example

# Editor
*.swp
.idea/
.vscode/
